#!/bin/bash


# -------------------------------------------------------------------
# Change Directory
# -------------------------------------------------------------------
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# -------------------------------------------------------------------
# HDD
# -------------------------------------------------------------------
alias df='df -h'
alias du='du -h'

# -------------------------------------------------------------------
# Utilities
# -------------------------------------------------------------------
# open with system default application
alias o='thunar'
alias afk="i3lock -c 000000"
alias notify=notify-send "$1"
