#!/bin/bash

##############################################################################
# functions
# -----------
# Usefull bash functions
#
# :authors: Sébastien BARON, @cbastienbaron
# :date: 18 March 2018
# :version: 0.0.1
##############################################################################

# run command in the background
background() {
	[[ -z "$@" ]] && return 1
	"$@" &
}

# serve PWD as web server
function serve() {
	# serve [port] [directory]
	local port=${1:-8000}
	local dir=$2

	xdg-open "http://localhost:$port"

	[[ -n "$dir" ]] && pushd -q $dir

	if (( $+commands[python] )); then
		python -m SimpleHTTPServer $port
	else
		php -S "0.0.0.0:$port"
	fi

	[[ -n "$dir" ]] && popd -q
}


# check if uri is up
isup() {
	local uri=$1

	if curl -s --head  --request GET "$uri" | grep "200 OK" > /dev/null ; then
		notify-send --urgency=critical "$uri is down"
	else
		notify-send --urgency=low "$uri is up"
	fi
}